/*
#6883A6 Steel Blue
#7D767E Gray
#565902 Dark Green
#A2A632 Light Green
#BFA473 Sand
#2E2B2E Text Black
#B0D7FF SkyBLue
*/

body {
    background-image: url('MCH-backround.png');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    padding-left: 20px; 
    padding-right: 20px;
    padding-bottom: 10px;

}
h1, h2 {color : #2E2B2E;}
h3{font-size: 20px;}
h1, p.picture{
    text-align: center;
}

p, li, th, td{
font-size: 30px;
}
th, td {
/* border-style: solid;
border-color: #468BA6;
border-width: 3px; */
border: #468BA6 solid 3px;
    padding-left: 40px;
        padding-right: 40px;
}
table {
    border-collapse: collapse;
        margin-left: auto;
            margin-right: auto;
}
td{

}
div {
    /* 
    block display
    specified width
    left and right margins need to be equal - set both to auto
    */

}

a {
    color: #f7f7f7;
    font-weight: bold;
}
a:hover {
    color: #1d4859;
    
}