head{
    height: 0%;
}
body {
    height: 100%;
    background-image: url('MCH-backround.png');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}
main {
    min-height: 100%;
    margin-bottom: -5%;
}
h1, h2 
{
    color : #2E2B2E;
}
h4
{
    font-size: 40px;
    font-weight: bold;
    padding-top: -5px;
}
p, li, th, td{
font-size: 30px;
}
table.bordered {
    border-collapse: collapse;
    width: 80%;
    th, td {
        border: #468BA6 solid 3px;
            padding-left: 40px;
            padding-right: 40px;
}
table.noborder {
    margin-top: -5%;
}
}
a {
    color: #67e067;
    font-weight: bold;
}
a:hover {
    color: #1d4859;
    
}
div.centered {
    text-align:center
}
div.rules {
    align-content: center;
    background-image: url(MCH-paper.png);
    background-repeat: no-repeat;
    background-attachment:local;
    background-size: 100% 250%;
    background-size: contain;
    padding-bottom: 25px;
}
footer {
    padding-top: 0px;
    text-size-adjust: 5%;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    background-color: rgb(124, 90, 45);
}
